.weather-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: lightblue;
    padding: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.09);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.weather-timezone p {
    margin: 0;
}

.weather-timezone {
    font-size: 1.3rem;
    margin: 0px;
}

.weather-date {
    font-size: 0.8rem;
    margin: 0px;
}

.weather-temperature, .weather-windspeed {
    font-size: 1.5rem;
}