.productBlock {
    display: flex;
    flex-direction: row;
}

.left {
    flex-basis: 50%;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    justify-content: space-around;
    flex-basis: 50%;
}

.count {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plusminus {
    background-color: transparent;
    border: 1px solid rgb(182, 181, 181);
    width: 40px;
    height: 40px;
}

.result {
    background-color: transparent;
    border: 1px solid rgb(182, 181, 181);
    width: 40px;
    height: 38px;
}

.error {
    color: red;
    padding-left: 15px;
}